@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-dark-primary: #6a6e74;
  --clr-dark-heading: #000929;
  --clr-accent: #2D2F81;

  --bg-primary:#b2b3ea;
  --bg-light-primary: #F7F7FD;
  --bg-dark-primary: #1b1b28;
}

:root {
  --font-primary: "Roboto", sans-serif; 
  --font-secondary:"Playfair Display", serif;
  
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

body {
  font-family: var(--font-primary);
  color: var(--clr-dark-primary);
  background-color: var(--bg-light-primary);
  font-size: 0.875rem;
  line-height: 1.6;
  max-width: 1920px;
  margin: 0 auto;
}
.shadow-dark{
  box-shadow: var(--dark-shadow);
}
.shadow-light{
  box-shadow: var(--light-shadow);
}
section, footer {
  margin: 4rem 0 0;
}

a {
  text-decoration: none;
}
img{
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color:var(--clr-dark-heading);
  font-family: var(--font-secondary);
  font-weight: 600;
}

h1 {
  font-size: 2.1rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.5;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.5;
}
h6 {
  font-size: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  body{
    font-size: 1rem;
  }
  section, footer {
    margin: 7rem 0 0;
  }
  p {
    line-height: 1.5;
  }

  h1 {
  font-size: 2.3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.5;
}
h5 {
  font-size: 1.4rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.2rem;
  line-height: 1.5;
}
}